@use 'sass:math';

$base-color: #F5A3F6;
$secondary-color: #745CD8;
$alert-color: #ef277a;
$bright-font-color: white;
$backshadow: white;
$main-font: tweety;
$backdrop-color: #1f70c780;
$success-color: #72c070;
$highlight-color: #00aeff;

@font-face {
    font-family: tweety;
    src: url(../../public/assets/Tweety.ttf);
}